data/wsdl/ReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeLableFileToBase64">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configInfoJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderInfoJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeLableFileToBase64Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeLableFileToBase64Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeLableFileToUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="authToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="configInfoJson" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="orderInfoJson" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MakeLableFileToUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MakeLableFileToUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetVersion" />
  </wsdl:message>
  <wsdl:message name="GetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="MakeLableFileToBase64SoapIn">
    <wsdl:part name="parameters" element="tns:MakeLableFileToBase64" />
  </wsdl:message>
  <wsdl:message name="MakeLableFileToBase64SoapOut">
    <wsdl:part name="parameters" element="tns:MakeLableFileToBase64Response" />
  </wsdl:message>
  <wsdl:message name="MakeLableFileToUrlSoapIn">
    <wsdl:part name="parameters" element="tns:MakeLableFileToUrl" />
  </wsdl:message>
  <wsdl:message name="MakeLableFileToUrlSoapOut">
    <wsdl:part name="parameters" element="tns:MakeLableFileToUrlResponse" />
  </wsdl:message>
  <wsdl:portType name="ReportServiceSoap">
    <wsdl:operation name="GetVersion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取API版本号</wsdl:documentation>
      <wsdl:input message="tns:GetVersionSoapIn" />
      <wsdl:output message="tns:GetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToBase64">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成标签文件，返回标签文件Base64编码的字符串</wsdl:documentation>
      <wsdl:input message="tns:MakeLableFileToBase64SoapIn" />
      <wsdl:output message="tns:MakeLableFileToBase64SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToUrl">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">生成标签文件，返回标签文件的Url地址</wsdl:documentation>
      <wsdl:input message="tns:MakeLableFileToUrlSoapIn" />
      <wsdl:output message="tns:MakeLableFileToUrlSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportServiceSoap" type="tns:ReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToBase64">
      <soap:operation soapAction="http://tempuri.org/MakeLableFileToBase64" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToUrl">
      <soap:operation soapAction="http://tempuri.org/MakeLableFileToUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReportServiceSoap12" type="tns:ReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVersion">
      <soap12:operation soapAction="http://tempuri.org/GetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToBase64">
      <soap12:operation soapAction="http://tempuri.org/MakeLableFileToBase64" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeLableFileToUrl">
      <soap12:operation soapAction="http://tempuri.org/MakeLableFileToUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportService">
    <wsdl:port name="ReportServiceSoap" binding="tns:ReportServiceSoap">
      <soap:address location="http://120.24.63.108:9001/report/ReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="ReportServiceSoap12" binding="tns:ReportServiceSoap12">
      <soap12:address location="http://120.24.63.108:9001/report/ReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>